body{
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'iconfont';  /* Project id 3733255 */
  src: url('//at.alicdn.com/t/c/font_3733255_fi65j1mv7fa.woff2?t=1666857230445') format('woff2'),
       url('//at.alicdn.com/t/c/font_3733255_fi65j1mv7fa.woff?t=1666857230445') format('woff'),
       url('//at.alicdn.com/t/c/font_3733255_fi65j1mv7fa.ttf?t=1666857230445') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}